@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: blanchedalmond;
  width: 100%;
  min-height: 100vh;
  
}

.container {
  max-width: 85rem;
  padding: 0 2rem;
  margin: 0 auto;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    z-index: 30;
    background-color: rgb(20, 20, 19);
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-left: 2.5rem;
  }
  
  nav ul li {
    display: inline-block;
    padding: 5px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(146, 145, 143);
  }
  
  nav ul li a:hover {
    color: orange;
  }
  
  nav ul li .active {
    color: orange;
  }
  
  .logo,
  .logo span {
    color: rgb(146, 145, 143);
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .logo span {
      color: orange;
    text-transform: lowercase;
    font-weight: 300;
  }
  span {
    color: orange;
    font-weight: 300;
  }
  .achievements {
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
  }
  
  .achievement-item {
    
    
    display: inline-block;
    margin: 15px;
    position: relative;
  }
  
  .achievement-item img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .achievement-details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .achievement-item:hover .achievement-details {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
  
  